body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #1e293b;

    background:
        linear-gradient(rgba(255,255,255,0.92), rgba(255,255,255,0.92)),
        url("https://www.shutterstock.com/image-vector/abstract-people-silhouettes-transparent-vector-600nw-2460243281.jpg");

    background-size: cover;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #2193b0;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 90px 20px;

    background:
      linear-gradient(rgba(114, 162, 181, 0.95), rgba(244,249,251,0.95)),
      url("https://www.shutterstock.com/image-vector/abstract-people-silhouettes-transparent-vector-600nw-2460243281.jpg");
}


.hero h2 {
    font-size: 28px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #2193b0;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}


.scenarios {
    text-align: center;
    padding: 40px;
    background: #f4f9fb;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2193b0;
    color: white;
}

body::before,
body::after {
    content: "";
    position: fixed;
    width: 350px;
    height: 350px;
    background: rgba(56, 189, 248, 0.15);
    filter: blur(100px);
    z-index: -1;
}

body::before {
    top: -100px;
    left: -100px;
}

body::after {
    bottom: -120px;
    right: -120px;
}

.scenarios ul {
    list-style: none;
    padding: 0;
}

.scenarios li {
    background: white;
    display: inline-block;
    margin: 10px;
    padding: 12px 18px;
    border-radius: 30px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.hero::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(33,147,176,0.15);
    border-radius: 50%;
    top: 20px;
    right: 10%;
    filter: blur(50px);
}