body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}


header {
    background: #020617;
    padding: 15px 30px;
    border-bottom: 1px solid #1e293b;
}


.section {
    max-width: 700px;
    margin: auto;
    padding: 30px 20px;
    text-align: center;
}

.robot-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: radial-gradient(circle, #38bdf8, #020617);
    margin: 20px auto;
    box-shadow: 0 0 25px #38bdf8;
}


.chat-box {
    margin-top: 25px;
    text-align: left;
}

.message {
    padding: 12px 16px;
    border-radius: 12px;
    margin: 10px 0;
    max-width: 75%;
}

.user {
    background: #1e293b;
    margin-left: auto;
}


.ai {
    background: #38bdf8;
    color: #020617;
}

.audio-btn {
    margin-top: 6px;
    background: none;
    border: none;
    color: #020617;
    font-size: 14px;
    cursor: pointer;
}


.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background: #38bdf8;
    color: #020617;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.mic-btn {
    margin-left: 8px;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background: #38bdf8;
    cursor: pointer;
}