body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

header {
    background: #020617;
    padding: 15px 30px;
    text-align: center;
    border-bottom: 1px solid #1e293b;
}

.section {
    text-align: center;
    padding: 40px 20px;
}


.robot-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(circle, #38bdf8, #020617);
    margin: 20px auto;
    box-shadow: 0 0 30px #38bdf8;
}


.card {
    background: #020617;
    border: 1px solid #1e293b;
    border-radius: 15px;
    padding: 20px;
    max-width: 350px;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(56,189,248,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(56,189,248,0.4);
}


h1 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}


.btn {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 22px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #0ea5e9;
}


.back-btn {
    margin-top: 30px;
}

@media (max-width: 500px) {
    .card {
        width: 90%;
    }

    .robot-circle {
        width: 90px;
        height: 90px;
    }
}